<!DOCTYPE html>
<html>
<head>
    <title>UF Study Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1 class="title">Welcome to the UF Study Assistant</h1>
    <h2>Ask a question about your class</h2>
    <h3 class="what">Currently, this program only works for engineering students.</h3>
    <form class = "frosted-glass" method="POST">
        <label for="course">Select your course:</label>
        <select name="course" id="course">
            <option> </option>
            <option value="MAC2311">MAC2311 - Calc 1</option>
            <option value="MAC2312">MAC2312 - Calc 2</option>
            <option value="MAC2313">MAC2313 - Calc 3</option>
        </select><br><br>

        <label for="question">Enter your question:</label><br>
        <textarea name="question" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Ask">
    </form>

    {% if response %}
        <h2>Response from the language model:</h3>
        <p class="frosted-glass">{{ response }}</p>
    {% endif %}
</body>
</html>


